# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [40]:
import pandas as pd

df_clead_data1 = pd.read_csv('cleaned_data.csv')
df_clead_data1.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,NaN,Personal Auto,Four-Door Car,1131.464935
1,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,NaN,Personal Auto,Two-Door Car,566.472247
2,WW63253,California,M,Bachelor,764586.18,0.0,106.0,NaN,Corporate Auto,SUV,529.881344
3,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,NaN,Personal Auto,Four-Door Car,17.269323
4,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,NaN,Personal Auto,Two-Door Car,159.383042

In [41]:
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

df_file2 = pd.read_csv(url2)
df_file3 = pd.read_csv(url3)

In [42]:

for old_name in df_file2.columns:
    new_name= old_name.lower().replace(' ', '_')
    if new_name == 'st':
        new_name = 'state'
    df_file2.rename(columns= {old_name: new_name}, inplace=True)

print(df_file2.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

In [43]:
df_file3.columns
for old_name in df_file3.columns:
    new_name= old_name.lower().replace(' ', '_')
    if new_name == 'st':
        new_name = 'state'
    df_file3.rename(columns= {old_name: new_name}, inplace=True)

print(df_file3.columns)

Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [44]:
combine_23 = pd.concat([df_file2, df_file3], axis=0, join="outer")

In [45]:
combine_23['vehicle_class'] = combine_23['vehicle_class'].replace({'Luxury SUV': 'Luxury', 'Sports Car': 'Luxury', 'Luxury Car': 'Luxury'})

In [61]:
combine_23['education'] = combine_23['education'].str.replace('Bachelors', 'Bachelor')
combine_23['education'].unique()

array(['Bachelor', 'Master', 'College', 'Doctor', 'High School or Below'],
      dtype=object)

In [47]:
combine_23['customer_lifetime_value'] = combine_23['customer_lifetime_value'].astype(str).str.replace('%', '').astype(float)

In [48]:
combine_23['gender'] = combine_23['gender'].replace({'Femal': 'F', 'Male': 'M', 'female': 'F'})

combine_23['gender'].unique()

array(['F', 'M', nan], dtype=object)

In [49]:
state_dict = {
    'az': 'Arizona',
    'arizona': 'Arizona',
    'wa': 'Washington',
    'cali': 'California',
    'california': 'California',
    'washington': 'Washington'
}
combine_23['state'] = combine_23['state'].str.lower().map(state_dict).fillna(combine_23['state']) 

combine_23['state'].unique()

array(['Arizona', 'California', 'Oregon', 'Nevada', 'Washington'],
      dtype=object)

In [50]:
combine_23['number_of_open_complaints'] = combine_23['number_of_open_complaints'].apply(lambda x: float(str(x).split('/')[1]) if '/' in str(x) else None)
combine_23['number_of_open_complaints'].unique()

array([ 0.,  1.,  3.,  5.,  2.,  4., nan])

In [51]:
combine_23.duplicated().sum()

0

In [64]:
df_combined = pd.concat([df_clead_data1, combine_23], axis=0, join="outer")
df_combined.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [76]:
pivot_df= df_combined.pivot_table(index='gender', columns='education', values=['customer_lifetime_value'], aggfunc='mean').round(2)
pivot_df

          customer_lifetime_value                                   \
education                Bachelor  Bachelors    College     Doctor
gender
F                       171170.88  486799.98  194365.82  195166.78
M                       149865.84  553927.99  169432.20  166166.63


education High School or Below    Master
gender
F                    180116.24  200352.1
M                    172995.69  158976.5

In [69]:
df_marketing = pd.read_csv('marketing_customer_analysis_clean.csv')
df_marketing.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [73]:
pivot_df_marketing = df_marketing.pivot_table(index='sales_channel', values=['total_claim_amount'], aggfunc='sum').round(2)
pivot_df_marketing

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here